{
  "extends": ["airbnb", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "linkComponents": [
      "Hyperlink",
      {
        "name": "Link",
        "linkAttribute": "to"
      }
    ]
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-shadow": [
      2,
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "props"]
      }
    ],
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": false
      }
    ]
  }
}
