{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "plugins": ["jest", "babel"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "linkComponents": [
      "Hyperlink",
      {
        "name": "Link",
        "linkAttribute": "to"
      }
    ]
  },
  "rules": {
    "no-console": "warn",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-shadow": [
      "error",
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "error", "props"]
      }
    ],
    "no-unused-expressions": "off",
    "babel/no-unused-expressions": "error",
    "@typescript-eslint/no-empty-interface": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": false,
        "shorthandFirst": true,
        "reservedFirst": true
      }
    ],
    "react/destructuring-assignment": ["warn", "always"],
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": false
      }
    ]
  }
}
