@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Image {
  height: 200px;
  width: 200px;
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  margin: 0;
}

@include tablet {
  .Heading {
    font-size: 3rem;
  }
}

@include mobile {
  .Heading {
    font-size: 2rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
